body {
  font-family: Arial, sans-serif;
  background-color: #fff8e1;
  color: #5c4033;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d2b48c;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: #8b4513;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #5c4033;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  padding: 15px;
  background: #f4e1c9;
  border-radius: 10px;
}

footer {
  background-color: #d2b48c;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a.email-link {
  color: #8B4513;
  font-weight: bold;
  text-decoration: none;
}

a.email-link:hover {
  text-decoration: underline;
}

a.phone-link {
  color: #258b13;
  font-weight: bold;
  text-decoration: none;
}

a.phone-link:hover {
  text-decoration: underline;
}

a.instagram-link {
  color: #B500ED;
  font-weight: bold;
  text-decoration: none;
}

a.instagram-link:hover {
  text-decoration: underline;
}